[Unit]
Description=Xephyr

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/Xephyr -fullscreen -resizeable -dpi 254
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target